.required-documents {
  padding: 20px;
}

.document-checklist {
  list-style-type: none;
  padding: 0;
}

.document-checklist li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.document-checklist .document-name {
  flex: 1;
}